body {
  font-family: Courier;
  background-image: url("background.png");
  background-position: top;
  background-repeat: no-repeat;
}
#navbar {
  text-align: right;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  display: block;
}
#content {
  margin: 3%;
}
a {
  color: #0D5183;
}
